@tailwind base;
@tailwind components;
@tailwind utilities;

@import './typography.css';

.parent-wrapper {
    font-family: 'cg-variable';
}

.ff-cg--regular {
    font-family: "cg-regular";
}

.ff-cg--extralight {
    font-family: "cg-extralight";
}

.ff-cg--light {
    font-family: "cg-light";
}

.ff-cg--medium {
    font-family: "cg-medium";
}

.ff-cg--semibold {
    font-family: "cg-semibold";
}

.ff-cg--bold {
    font-family: "cg-bold";
}

.bg-path {
    background-image: url("../images/banner-path.png");
    background-repeat: no-repeat;
    background-size: cover;
}